Repository EffortlessMetrics/SwiftMTP-dev: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, property, snapshot

cli: add diagnostic formatter for actionable error messages
  Docs/Troubleshooting.md
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DiagnosticFormatter.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/CoreTests/DiagnosticFormatterTests.swift
Due: unit, integration, snapshot

quirks: add hooks format and evidenceRequired validation (#504)
  FIXUP_QUEUE.md
  scripts/validate-quirks.sh
Due: none

test: add IOUSBHost transport integration tests (#505)
  SwiftMTPKit/Tests/TransportTests/IOUSBHostIntegrationTests.swift
Due: none

cli: add diagnostic formatter for actionable error messages (#508)
  Docs/Troubleshooting.md
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DiagnosticFormatter.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/CoreTests/DiagnosticFormatterTests.swift
Due: unit, integration, snapshot

transport: implement IOUSBHost interrupt endpoint event polling
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostTransport.swift
  SwiftMTPKit/Tests/TransportTests/IOUSBHostTransportTests.swift
Due: none

transport: implement IOUSBHost interrupt endpoint event handling
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostTransport.swift
  SwiftMTPKit/Tests/TransportTests/IOUSBHostTransportTests.swift
Due: none

transport: implement IOUSBHost interrupt endpoint event polling (#510)
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostTransport.swift
  SwiftMTPKit/Tests/TransportTests/IOUSBHostTransportTests.swift
Due: none

ci: enhance smoke tests with comprehensive CLI contract checks
  scripts/smoke.sh
Due: none

docs: refresh CLAUDE.md with waves 42-46 features and changes
  CLAUDE.md
Due: none

index: add FTS5 full-text search for device file index
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/LiveIndexSchema.sql
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Tests/IndexTests/FTSSearchTests.swift
  SwiftMTPKit/Tests/IndexTests/SQLiteLiveIndexPersistenceTests.swift
Due: unit, integration, snapshot

ci: enhance smoke tests with comprehensive CLI contract checks (#512)
  scripts/smoke.sh
Due: none

docs: refresh CLAUDE.md with waves 42-46 features and changes (#513)
  CLAUDE.md
Due: none

test: comprehensive device lifecycle scenario tests
  SwiftMTPKit/Tests/ScenarioTests/DeviceLifecycleTests.swift
Due: none

index: add FTS5 full-text search for device file index (#514)
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/LiveIndexSchema.sql
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Tests/IndexTests/FTSSearchTests.swift
  SwiftMTPKit/Tests/IndexTests/SQLiteLiveIndexPersistenceTests.swift
Due: unit, integration, snapshot

test: comprehensive device lifecycle scenario tests (#515)
  SwiftMTPKit/Tests/ScenarioTests/DeviceLifecycleTests.swift
Due: none

fileprovider: implement thumbnail provision via MTP GetThumb
  Docs/FileProvider-TechPreview.md
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/MTPXPCServiceImpl.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/Protocol.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderComprehensiveTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderConcurrencyTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEdgeCaseTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEdgeCaseWave35Tests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEnumerationTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderExtensionTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderResilienceTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderThumbnailTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderWave29Tests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderWave41Tests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderXPCBridgeWave32Tests.swift
  SwiftMTPKit/Tests/IntegrationTests/FileProviderIntegrationTests.swift
Due: unit

quirks: research and implement additional libmtp compat flags
  Docs/MTPCompatibilityResearch.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/PathSanitizer.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Tests/CoreTests/PathSanitizerTests.swift
  SwiftMTPKit/Tests/QuirksTests/QuirksModuleTests.swift
Due: unit, integration

fileprovider: implement thumbnail provision via MTP GetThumb (#516)
  Docs/FileProvider-TechPreview.md
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/MTPXPCServiceImpl.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/Protocol.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderComprehensiveTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderConcurrencyTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEdgeCaseTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEdgeCaseWave35Tests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEnumerationTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderExtensionTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderResilienceTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderThumbnailTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderWave29Tests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderWave41Tests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderXPCBridgeWave32Tests.swift
  SwiftMTPKit/Tests/IntegrationTests/FileProviderIntegrationTests.swift
Due: unit

quirks: research and implement additional libmtp compat flags (#518)
  Docs/MTPCompatibilityResearch.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/PathSanitizer.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Tests/CoreTests/PathSanitizerTests.swift
  SwiftMTPKit/Tests/QuirksTests/QuirksModuleTests.swift
Due: unit, integration

core: wire TransferJournal into download/upload for automatic resume
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/ActionableErrors.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DiagnosticFormatter.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Tests/CoreTests/TransferResumeWiringTests.swift
Due: unit, integration, snapshot

core: wire TransferJournal into download/upload for automatic resume (#519)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/ActionableErrors.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DiagnosticFormatter.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Tests/CoreTests/TransferResumeWiringTests.swift
Due: unit, integration, snapshot

transport: add Samsung Galaxy transport tests
  SwiftMTPKit/Tests/TransportTests/SamsungTransportTests.swift
Due: none

docs: add waves 46-47 entries to CHANGELOG and DEVELOPMENT-LOG
  CHANGELOG.md
  Docs/DEVELOPMENT-LOG.md
Due: none

docs: add waves 46-47 entries to CHANGELOG and DEVELOPMENT-LOG (#522)
  CHANGELOG.md
  Docs/DEVELOPMENT-LOG.md
Due: none

scripts: enhance device-bringup.sh with automated evidence capture
  Docs/Troubleshooting.md
  Docs/device-bringup.md
  scripts/device-bringup.sh
Due: none

scripts: enhance device-bringup.sh with automated evidence capture (#523)
  Docs/Troubleshooting.md
  Docs/device-bringup.md
  scripts/device-bringup.sh
Due: none

sync: add progress reporting to mirror operations
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorProgress.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Tests/SyncTests/MirrorProgressTests.swift
Due: integration

quirks: enhance stats with flag coverage and validation analysis
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkDatabase.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
  SwiftMTPKit/Tests/QuirksTests/QuirksCoverageStatsTests.swift
Due: unit

quirks: enhance stats with flag coverage and validation analysis (#525)
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkDatabase.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
  SwiftMTPKit/Tests/QuirksTests/QuirksCoverageStatsTests.swift
Due: unit

test: comprehensive error recovery ladder end-to-end tests
  SwiftMTPKit/Tests/ErrorHandlingTests/RecoveryLadderE2ETests.swift
Due: none

cli: add search command with FTS5 full-text filename search
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SearchCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/ToolingTests/SearchCommandTests.swift
Due: none

index: optimize SQLiteLiveIndex for large device catalogs
  SwiftMTPKit/Sources/SwiftMTPIndex/DB/SQLiteHelpers.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/LiveIndexSchema.sql
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Tests/IndexTests/IndexPerfOptTests.swift
Due: unit, integration, snapshot

Path conditions:
  unit: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPObservability/**, SwiftMTPKit/Sources/SwiftMTPQuirks/**, SwiftMTPKit/Sources/SwiftMTPFileProvider/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  integration: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPSync/**, SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  property: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/Models/**, SwiftMTPKit/Sources/SwiftMTPIndex/DiffEngine.swift, SwiftMTPKit/Sources/SwiftMTPCore/Public/Compat/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  snapshot: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
