Repository EffortlessMetrics/SwiftMTP-dev: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, property, snapshot

feat: enhance SessionProbeResult and QuirkFlags with additional fields
  .codecov.yml
  .github/PULL_REQUEST_TEMPLATE/device-submission.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/smoke.yml
  .github/workflows/swiftmtp-ci.yml
  .gitignore
  CHANGELOG.md
  Docs/ContributionGuide.md
  Docs/README.md
  Docs/ROADMAP.device-submission.md
  Docs/ROADMAP.md
  Docs/ROADMAP.release-checklist.md
  Docs/ROADMAP.testing.md
  Docs/SPRINT-PLAYBOOK.md
  Docs/SwiftMTP.docc/Devices/google-pixel-7-4ee1.md
  Docs/SwiftMTP.docc/Devices/oneplus-3t-f003.md
  Docs/SwiftMTP.docc/Devices/samsung-android-6860.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff10.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff40.md
  Docs/Troubleshooting.md
  Docs/benchmarks.md
  Docs/device-bringup.md
  README.md
  RELEASE.md
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DeviceServiceRegistry.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/ProbeReceipt.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
  scripts/device-bringup.sh
  scripts/validate-quirks.sh
Due: unit, integration, snapshot

Refactor device documentation and improve MTP transfer logic
  Docs/README.md
  Docs/SwiftMTP.docc/Devices/google-pixel-7-4ee1.md
  Docs/SwiftMTP.docc/Devices/oneplus-3t-f003.md
  Docs/SwiftMTP.docc/Devices/samsung-android-6860.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff10.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff40.md
  Docs/SwiftMTP.docc/SwiftMTP.md
  Docs/SwiftMTP.docc/macOS26.md
  README.md
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/WriteTargetLadder.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
Due: unit, integration, snapshot

feat: add common issues quick reference and enhance probeCandidateWithLadder for vendor-specific devices
  Docs/ROADMAP.md
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
Due: integration

feat: Enhance Collect Command with Device Name and PR Submission Options
  Docs/SwiftMTP.docc/Devices/google-pixel-7-4ee1.md
  Docs/SwiftMTP.docc/Devices/index.md
  Docs/SwiftMTP.docc/Devices/oneplus-3t-f003.md
  Docs/SwiftMTP.docc/Devices/samsung-android-6860.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff40.md
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/CollectCLICommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Redaction.swift
  SwiftMTPKit/Tests/ToolingTests/CollectPrivacyTests.swift
Due: integration

feat: Implement aggressive probing strategy and enhance device filtering in DeviceLabCommand
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/ToolingTests/DeviceLabToolingTests.swift
  scripts/validate-mtp-unlocked.sh
Due: unit, integration

feat: Enhance retry logic and add delay handling for device probing and writing operations
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
Due: unit, integration

feat: Update documentation for File Provider integration, add migration guide, and introduce error codes reference
  Docs/ErrorCodes.md
  Docs/FileProvider-TechPreview.md
  Docs/MigrationGuide.md
  Docs/README.md
  Docs/Troubleshooting.md
  Docs/benchmarks.md
  Docs/device-bringup.md
  README.md
Due: none

feat: Update device documentation and improve command handling for storage gating and recovery strategies
  Docs/SwiftMTP.docc/Devices/index.md
  Docs/SwiftMTP.docc/Devices/samsung-android-6860.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff40.md
  Docs/device-bringup.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
  SwiftMTPKit/Tests/ToolingTests/DeviceLabToolingTests.swift
  SwiftMTPKit/Tests/TransportTests/InterfaceProbeTests.swift
  SwiftMTPKit/Tests/TransportTests/LibUSBErrorHandlingTests.swift
  scripts/device-bringup.sh
Due: unit, integration

feat: Enhance error handling and retry logic for device operations, add timeout management, and improve test coverage
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
  SwiftMTPKit/Tests/CoreTests/DeviceActorSendObjectRetryTests.swift
  SwiftMTPKit/Tests/ToolingTests/DeviceLabToolingTests.swift
  SwiftMTPKit/Tests/TransportTests/LibUSBErrorHandlingTests.swift
Due: unit, integration

feat: Refactor timeout handling and recovery logic in device probing, update tests for consistency
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/DeviceOpen.swift
  SwiftMTPKit/Tests/TransportTests/LibUSBErrorHandlingTests.swift
Due: integration

feat: Add per-device watchdog timeout handling and corresponding test case
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
  SwiftMTPKit/Tests/ToolingTests/DeviceLabToolingTests.swift
Due: none

feat: Update timeout values and enhance deadline handling in DeviceLabCommand
  Docs/README.md
  Docs/diataxis/README.md
  Docs/diataxis/explanation/architecture.md
  Docs/diataxis/explanation/device-quirks.md
  Docs/diataxis/explanation/mtp-protocol.md
  Docs/diataxis/howto/add-device-support.md
  Docs/diataxis/howto/connect-device.md
  Docs/diataxis/howto/run-benchmarks.md
  Docs/diataxis/howto/troubleshoot-connection.md
  Docs/diataxis/reference/api-overview.md
  Docs/diataxis/reference/cli-commands.md
  Docs/diataxis/reference/error-codes.md
  Docs/diataxis/tutorials/first-transfer.md
  Docs/diataxis/tutorials/getting-started.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
  SwiftMTPKit/Tests/CoreTests/DeviceActorSendObjectRetryTests.swift
Due: unit, integration

Add advanced transfer strategies and debugging tutorials for SwiftMTP
  Docs/README.md
  Docs/diataxis/README.md
  Docs/diataxis/explanation/persistence.md
  Docs/diataxis/explanation/session-management.md
  Docs/diataxis/explanation/transfer-modes.md
  Docs/diataxis/explanation/transport-layers.md
  Docs/diataxis/howto/connect-device.md
  Docs/diataxis/howto/device-quirks.md
  Docs/diataxis/howto/file-provider.md
  Docs/diataxis/howto/performance-tuning.md
  Docs/diataxis/howto/security-privacy.md
  Docs/diataxis/howto/testing-devices.md
  Docs/diataxis/howto/transfer-files.md
  Docs/diataxis/howto/troubleshoot-connection.md
  Docs/diataxis/reference/configuration.md
  Docs/diataxis/reference/events.md
  Docs/diataxis/reference/public-types.md
  Docs/diataxis/reference/quirks-schema.md
  Docs/diataxis/tutorials/advanced-transfer.md
  Docs/diataxis/tutorials/debugging-mtp.md
  Docs/diataxis/tutorials/device-probing.md
  Docs/diataxis/tutorials/first-transfer.md
  Docs/diataxis/tutorials/getting-started.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Tests/CoreTests/DeviceActorSendObjectRetryTests.swift
Due: unit, integration

Add comprehensive documentation for device capabilities, environment variables, batch operations, and platform integration
  Docs/README.md
  Docs/diataxis/README.md
  Docs/diataxis/explanation/concurrency-model.md
  Docs/diataxis/explanation/version-history.md
  Docs/diataxis/howto/cli-automation.md
  Docs/diataxis/howto/error-recovery.md
  Docs/diataxis/howto/logging-debugging.md
  Docs/diataxis/reference/device-capabilities.md
  Docs/diataxis/reference/environment-variables.md
  Docs/diataxis/tutorials/batch-operations.md
  Docs/diataxis/tutorials/platform-integration.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/BDDScenarios.swift
Due: unit, integration

feat: Enhance object transfer handling with improved error classification and retry logic
  Docs/device-bringup.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/WriteTargetLadder.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Tests/CoreTests/DeviceActorSendObjectRetryTests.swift
  SwiftMTPKit/Tests/CoreTests/ProtoTransferCoverageTests.swift
Due: unit, integration

Improve Pixel no-progress command write recovery
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
Due: integration

Add SendObjectInfo format/quirk plumbing and prop-list protocol support
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/MTPExtensions.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/WriteTargetLadder.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
Due: unit, integration

Harden SendObject retries with session reset and target climb strategy
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Tests/CoreTests/DeviceActorSendObjectRetryTests.swift
Due: unit, integration

feat: Enhance media target handling and folder resolution for Xiaomi and OnePlus devices
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/WriteTargetLadder.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
Due: unit, integration

feat: Implement Pixel-specific preflight checks and recovery enhancements in probe sequence
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
Due: integration

feat: Add UI test observability and critical flow tests
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/nightly-real-device-ux-smoke.yml
  Docs/testing/ux-manual-recipes.md
  Package.swift
  Specs/ux/interaction-map.schema.json
  Specs/ux/interaction-map.yaml
  SwiftMTP.xcodeproj/project.pbxproj
  SwiftMTP.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  SwiftMTP/ContentView.swift
  SwiftMTP/SwiftMTPApp.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/SwiftMTPUI/AccessibilityID.swift
  SwiftMTPKit/Sources/SwiftMTPUI/DeviceBrowserView.swift
  SwiftMTPKit/Sources/SwiftMTPUI/DeviceLifecycleCoordinator.swift
  SwiftMTPKit/Sources/SwiftMTPUI/DeviceListView.swift
  SwiftMTPKit/Sources/SwiftMTPUI/DeviceMainView.swift
  SwiftMTPKit/Sources/SwiftMTPUI/UITestObservability.swift
  SwiftMTPKit/Sources/SwiftMTPUI/UXFlowID.swift
  SwiftMTPUITests/CriticalFlowTests.swift
  SwiftMTPUITests/SwiftMTPUITests.swift
  SwiftMTPUITests/SwiftMTPUITestsLaunchTests.swift
  SwiftMTPUITests/TestSupport/AppRobot.swift
  SwiftMTPUITests/TestSupport/DeviceBrowserRobot.swift
  run-all-tests.sh
  scripts/validate-ux-map.sh
  scripts/validate-ux-touch.sh
Due: integration

Add property-based tests for MTPEndianCodec and CLI parsing behavior
  .vscode/launch.json
  Docs/SRP-Analysis.md
  FIXUP_QUEUE.md
  Package.swift
  RUNBOOK.md
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/MTPEndianCodec/MTPEndianCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCLI/DeviceFilter.swift
  SwiftMTPKit/Sources/SwiftMTPCLI/Exit.swift
  SwiftMTPKit/Sources/SwiftMTPCLI/JSONIO.swift
  SwiftMTPKit/Sources/SwiftMTPCLI/Spinner.swift
  SwiftMTPKit/Sources/SwiftMTPCore/CLI/Spinner.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/CLICompat.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/Tools/MTPEndianCodecFuzz/main.swift
  SwiftMTPKit/Tests/MTPEndianCodecTests/Corpus/event-buffer.hex
  SwiftMTPKit/Tests/MTPEndianCodecTests/FuzzTests.swift
  SwiftMTPKit/Tests/MTPEndianCodecTests/MTPEndianCodecTests.swift
  SwiftMTPKit/Tests/MTPEndianCodecTests/PropertyTests.swift
  SwiftMTPKit/Tests/SwiftMTPCLITests/DeviceFilterBehaviorTests.swift
Due: unit, integration, snapshot

feat: Introduce MTPCoreTypes microcrate with device identifiers and protocol definitions
  Docs/MICROCRATE-ARCHITECTURE.md
  SwiftMTPKit/Sources/MTPCoreTypes/CoreTypes.swift
  SwiftMTPKit/Sources/MTPCoreTypes/MTPDevice.swift
  SwiftMTPKit/Sources/MTPCoreTypes/Package.swift
Due: none

Fix build: add missing Package.swift targets, upgrade to Swift 6.2/macOS 26, fix FileProvider concurrency
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/ChangeSignaler.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/DomainEnumerator.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/SendableBox.swift
  SwiftMTPKit/Sources/Tools/MTPEndianCodecFuzz/main.swift
  SwiftMTPKit/Tests/MTPEndianCodecTests/FuzzTests.swift
  SwiftMTPKit/Tests/SwiftMTPCLITests/DeviceFilterBehaviorTests.swift
Due: unit

Wire FileProvider write ops, fix XPC types, add write protocol tests
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderItem.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/MTPXPCServiceImpl.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/Protocol.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderExtensionTests.swift
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/ModelSnapshotTests/testProbeReceiptMockDevice.mock-device-probe.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/ModelSnapshotTests/testProbeReceiptOnePlus3T.oneplus-3t-probe.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/ModelSnapshotTests/testProbeReceiptPixel7.pixel7-probe.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/ModelSnapshotTests/testProbeReceiptXiaomiMiNote2.xiaomi-mi-note-2-probe.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/ModelSnapshotTests/testQuirksDatabase.quirks-database.json
  SwiftMTPKit/Tests/XPCTests/XPCProtocolCoverageTests.swift
Due: unit

Update FIXUP_QUEUE: mark MTPEndianCodecFuzz done, add learn-promote item
  FIXUP_QUEUE.md
Due: none

fix: FallbackAllFailedError, integration tests, ClearHalt, CHANGELOG v2.1
  CHANGELOG.md
  Docs/SwiftMTP.docc/Devices/google-pixel-7-4ee1.md
  Docs/SwiftMTP.docc/Devices/oneplus-3t-f003.md
  Docs/SwiftMTP.docc/Devices/samsung-android-6860.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff10.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff40.md
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/FallbackLadder.swift
  SwiftMTPKit/Sources/Tools/docc-generator-tool/main.swift
  SwiftMTPKit/Sources/Tools/learn-promote/main.swift
  SwiftMTPKit/Tests/CoreTests/DeviceServiceCoverageTests.swift
  SwiftMTPKit/Tests/CoreTests/FallbackLadderTests.swift
  SwiftMTPKit/Tests/IntegrationTests/FileProviderIntegrationTests.swift
  SwiftMTPKit/Tests/SwiftMTPCLITests/DeviceFilterBehaviorTests.swift
  SwiftMTPKit/Tests/TransportTests/ClearHaltBehaviorTests.swift
Due: unit, integration

feat: multi-device parallel transfer tests + plugin modernization
  SwiftMTPKit/Plugins/SwiftMTPBuildTool/SwiftMTPBuildTool.swift
  SwiftMTPKit/Tests/ScenarioTests/MultiDeviceTransferTests.swift
Due: none

feat: MTP object property APIs, extended events, and codec migration
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPLayer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/Crawler/EventBridge.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeleteMoveEventsCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/StorybookCommand.swift
  SwiftMTPKit/Tests/CoreTests/CoreSupplementalCoverageTests.swift
  SwiftMTPKit/Tests/CoreTests/ObjectPropAPITests.swift
  SwiftMTPKit/Tests/MTPEndianCodecTests/MTPEndianCodecTests.swift
  SwiftMTPKit/Tests/MTPEndianCodecTests/PropertyTests.swift
Due: unit, integration, snapshot

fix: replace crashing SwiftCheck+@Test UInt64 idempotence with explicit values
  SwiftMTPKit/Tests/MTPEndianCodecTests/PropertyTests.swift
Due: none

docs: update FIXUP_QUEUE — mark items 1,6,7,8,9,10 done
  FIXUP_QUEUE.md
Due: none

feat: wire MTPObjectInfo.modified from ObjectInfoDataset + date tests
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Tests/CoreTests/ObjectPropAPITests.swift
Due: unit, integration

feat: GetObjectPropsSupported, ObjectSize U64, skipGetObjectPropValue quirk
  Docs/ROADMAP.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/MTPExtensions.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPLayer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPStore/SwiftMTPStoreAdapter.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
  SwiftMTPKit/Tests/CoreTests/ObjectPropAPITests.swift
  SwiftMTPKit/Tests/ErrorHandlingTests/FallbackAllFailedErrorTests.swift
Due: unit, integration

refactor: remove SwiftMTPCore dependency on SwiftMTPCLI
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPCLI/DeviceFilter.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/CLICompat.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/BDDCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/CollectCLICommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeleteMoveEventsCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeviceLabCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/LearnPromoteCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SnapshotCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/StorageListCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/ProfileCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/SubmitCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/DeviceOpen.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/CoreTests/CoreSupplementalCoverageTests.swift
  SwiftMTPKit/Tests/CoreTests/DeviceFilterTests.swift
  SwiftMTPKit/Tests/CoreTests/DeviceServiceCoverageTests.swift
  SwiftMTPKit/Tests/CoreTests/ExitTests.swift
  SwiftMTPKit/Tests/CoreTests/LearnedProfileCoverageTests.swift
  SwiftMTPKit/Tests/CoreTests/SpinnerTests.swift
Due: unit, integration, snapshot

fix: address PR #8 reviewer comments
  CHANGELOG.md
  Docs/diataxis/explanation/version-history.md
  Docs/diataxis/reference/device-capabilities.md
  README.md
Due: none

feat: transfer resume scenario tests + fault-injection coverage
  SwiftMTPKit/Tests/ScenarioTests/ResumeScenarioTests.swift
Due: none

feat: codec fuzz extended — GetObjectPropValue response corpus
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Tests/PropertyTests/PTPCodecFuzzTests.swift
Due: none

Path conditions:
  unit: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPObservability/**, SwiftMTPKit/Sources/SwiftMTPQuirks/**, SwiftMTPKit/Sources/SwiftMTPFileProvider/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  integration: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPSync/**, SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  property: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/Models/**, SwiftMTPKit/Sources/SwiftMTPIndex/DiffEngine.swift, SwiftMTPKit/Sources/SwiftMTPCore/Public/Compat/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  snapshot: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
