Repository EffortlessMetrics/SwiftMTP-dev: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, property, snapshot

Path conditions:
  unit: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPObservability/**, SwiftMTPKit/Sources/SwiftMTPQuirks/**, SwiftMTPKit/Sources/SwiftMTPFileProvider/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  integration: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPSync/**, SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  property: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/Models/**, SwiftMTPKit/Sources/SwiftMTPIndex/DiffEngine.swift, SwiftMTPKit/Sources/SwiftMTPCore/Public/Compat/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  snapshot: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift

xpc: implement connection interruption handling with auto-reconnect
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/XPCConnectionManager.swift
  SwiftMTPKit/Tests/XPCTests/XPCConnectionManagerTests.swift
Due: unit

sync: add progress reporting to mirror operations (#524)
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorProgress.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Tests/SyncTests/MirrorProgressTests.swift
Due: integration

cli: add search command with FTS5 full-text filename search (#527)
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SearchCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/ToolingTests/SearchCommandTests.swift
Due: none

index: optimize SQLiteLiveIndex for large device catalogs (#528)
  SwiftMTPKit/Sources/SwiftMTPIndex/DB/SQLiteHelpers.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/LiveIndexSchema.sql
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Tests/IndexTests/IndexPerfOptTests.swift
Due: unit, integration, snapshot

test: comprehensive error recovery ladder end-to-end tests (#526)
  SwiftMTPKit/Tests/ErrorHandlingTests/RecoveryLadderE2ETests.swift
Due: none

xpc: implement connection interruption handling with auto-reconnect (#529)
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/XPCConnectionManager.swift
  SwiftMTPKit/Tests/XPCTests/XPCConnectionManagerTests.swift
Due: unit

transport: implement Pixel 7 bulk transfer fixes from analysis
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/EffectiveTuning.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+BulkTransfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+CommandRecovery.swift
  SwiftMTPKit/Tests/TransportTests/Pixel7TransportFixesTests.swift
Due: unit, integration, snapshot

transport: implement Pixel 7 bulk transfer fixes from analysis (#530)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/EffectiveTuning.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+BulkTransfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+CommandRecovery.swift
  SwiftMTPKit/Tests/TransportTests/Pixel7TransportFixesTests.swift
Due: unit, integration, snapshot

ci: regenerate compat-matrix.md for quirks database changes
  Docs/compat-matrix.md
Due: none

ci: regenerate compat-matrix.md for quirks database changes (#531)
  Docs/compat-matrix.md
Due: none

docs: add wave 48 entries to CHANGELOG
  CHANGELOG.md
Due: none

docs: add wave 48 entries to CHANGELOG (#532)
  CHANGELOG.md
Due: none

docs: update ROADMAP for waves 46-48
  Docs/ROADMAP.md
Due: none

docs: update ROADMAP for waves 46-48 (#533)
  Docs/ROADMAP.md
Due: none

test: write-path safety validation tests
  SwiftMTPKit/Tests/CoreTests/WritePathSafetyTests.swift
Due: none

test: comprehensive Android MTP operation tests
  SwiftMTPKit/Tests/CoreTests/AndroidMTPOperationTests.swift
Due: none

test: FileProvider write-path safety validation tests
  SwiftMTPKit/Tests/FileProviderTests/FileProviderWriteSafetyTests.swift
Due: none

test: write-path safety validation tests (#535)
  SwiftMTPKit/Tests/CoreTests/WritePathSafetyTests.swift
Due: none

test: comprehensive Android MTP operation tests (#536)
  SwiftMTPKit/Tests/CoreTests/AndroidMTPOperationTests.swift
Due: none

cli: improve probe command output with timeout, verbose, and troubleshooting
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/ToolingTests/CLIToolingTests.swift
Due: none

test: FileProvider write-path safety validation tests (#537)
  SwiftMTPKit/Tests/FileProviderTests/FileProviderWriteSafetyTests.swift
Due: none

cli: improve probe command output with timeout, verbose, and troubleshooting (#538)
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/ToolingTests/CLIToolingTests.swift
Due: none

Extract SwiftMTPConcurrency microcrate with LockedValue
  Package.swift
  SwiftMTPKit/Sources/SwiftMTPConcurrency/LockedValue.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/SendableAdapters.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/FeatureFlags.swift
  SwiftMTPKit/Tests/SwiftMTPConcurrencyTests/LockedValueTests.swift
Due: unit, integration, snapshot

Extract MTP device core types into standalone microcrate
  Package.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPDeviceTypes/MTPDeviceTypes.swift
  SwiftMTPKit/Tests/SwiftMTPDeviceTypesTests/MTPDeviceTypesTests.swift
Due: unit, integration, snapshot

Extract SwiftMTPConcurrency microcrate with LockedValue
  Package.swift
  SwiftMTPKit/Sources/SwiftMTPConcurrency/LockedValue.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Tools/SubstrateHardening.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/SendableAdapters.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/FeatureFlags.swift
  SwiftMTPKit/Tests/SwiftMTPConcurrencyTests/LockedValueTests.swift
Due: unit, integration, snapshot

Extract concurrency utilities into SwiftMTPConcurrency microcrate
  Package.swift
  SwiftMTPKit/Sources/SwiftMTPConcurrency/LockedValue.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/SendableAdapters.swift
  SwiftMTPKit/Tests/SwiftMTPConcurrencyTests/LockedValueTests.swift
Due: unit, integration

ci: pin Xcode version for DocC generation workflow
  .github/workflows/docs.yml
  FIXUP_QUEUE.md
Due: none

ci: pin Xcode version for DocC generation workflow (#543)
  .github/workflows/docs.yml
  FIXUP_QUEUE.md
Due: none

docs: refresh CLAUDE.md for waves 46-49
  CLAUDE.md
Due: none

docs: refresh CLAUDE.md for waves 46-49 (#544)
  CLAUDE.md
Due: none

docs: update Troubleshooting for CLI probe, search, and device tips
  Docs/Troubleshooting.md
Due: none

docs: update Troubleshooting for CLI probe, search, and device tips (#545)
  Docs/Troubleshooting.md
Due: none

test: SQLite WAL hygiene and concurrent access tests
  SwiftMTPKit/Tests/IndexTests/WALHygieneTests.swift
Due: none

test: SQLite WAL hygiene and concurrent access tests (#546)
  SwiftMTPKit/Tests/IndexTests/WALHygieneTests.swift
Due: none

test: sync conflict resolution edge case tests
  SwiftMTPKit/Tests/SyncTests/ConflictEdgeCaseTests.swift
Due: none

test: IOUSBHost transport parity coverage tests
  SwiftMTPKit/Tests/TransportTests/IOUSBHostParityTests.swift
Due: none

quirks: tighten governance validation with duplicate and flag checks
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkDatabase.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Tests/QuirksTests/QuirksGovernanceTests.swift
  scripts/validate-quirks.sh
Due: unit

core: expand DiagnosticFormatter for transport, index, and XPC errors
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DiagnosticFormatter.swift
  SwiftMTPKit/Tests/CoreTests/DiagnosticFormatterTests.swift
Due: unit, integration, snapshot
