Repository EffortlessMetrics/SwiftMTP-dev: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, property, snapshot

index: add missing SQLite indexes for query optimization (#423)
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/Snapshotter.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/TransferJournal.swift
  SwiftMTPKit/Tests/IndexTests/SQLiteLiveIndexPersistenceTests.swift
Due: unit, integration, snapshot

fix: add missing SwiftCheck dependency to SyncTests target
  SwiftMTPKit/Package.swift
Due: none

fix: add missing SwiftCheck dependency to SyncTests target (#424)
  SwiftMTPKit/Package.swift
Due: none

docs: comprehensive troubleshooting update and wave 38 roadmap
  CHANGELOG.md
  Docs/ROADMAP.md
  Docs/Troubleshooting.md
Due: none

docs: FUSE-T integration research for MTP filesystem mount
  Docs/fuse-integration-research.md
Due: none

fix: address wave 37 code review findings
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/TransferJournal.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
Due: unit, integration, snapshot

docs: Pixel 7 bulk transfer research — libmtp source comparison
  Docs/pixel7-usb-debug-report.md
Due: none

core: expand MTP object format database to full MTP 1.1 coverage
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
Due: unit, integration

core: expand MTP object property codes to full MTP 1.1 coverage
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPLayer.swift
Due: unit, integration

core: expand MTP event handling to full MTP 1.1 coverage
  SwiftMTPKit/Sources/MTPCoreTypes/CoreTypes.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/MTPEventCoalescer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/Crawler/EventBridge.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeleteMoveEventsCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/StorybookCommand.swift
Due: unit, integration, snapshot

core: fix MTP 1.1 spec alignment issues
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/BusyBackoff.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
Due: unit, integration

core: implement Android MTP edit extensions (BeginEdit/EndEdit/Truncate)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/MTPExtensions.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DeviceLabHarness.swift
  SwiftMTPKit/Sources/SwiftMTPObservability/TransactionLog.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/FallbackSelections.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultInjectingLink.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
Due: unit, integration, snapshot

docs: comprehensive troubleshooting update and wave 38 roadmap (#425)
  CHANGELOG.md
  Docs/ROADMAP.md
  Docs/Troubleshooting.md
Due: none

docs: FUSE-T integration research for MTP filesystem mount (#426)
  Docs/fuse-integration-research.md
Due: none

fix: address wave 37 code review findings (#427)
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/TransferJournal.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
Due: unit, integration, snapshot

docs: Pixel 7 bulk transfer research — libmtp source comparison (#429)
  Docs/pixel7-usb-debug-report.md
Due: none

core: expand MTP object format database to full MTP 1.1 coverage (#430)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
Due: unit, integration

core: expand MTP object property codes to full MTP 1.1 coverage (#431)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPLayer.swift
Due: unit, integration

core: expand MTP event handling to full MTP 1.1 coverage (#432)
  SwiftMTPKit/Sources/MTPCoreTypes/CoreTypes.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/MTPEventCoalescer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/Crawler/EventBridge.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeleteMoveEventsCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/StorybookCommand.swift
Due: unit, integration, snapshot

core: fix MTP 1.1 spec alignment issues (#433)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/BusyBackoff.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
Due: unit, integration

core: implement Android MTP edit extensions (BeginEdit/EndEdit/Truncate) (#434)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/MTPExtensions.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DeviceLabHarness.swift
  SwiftMTPKit/Sources/SwiftMTPObservability/TransactionLog.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/FallbackSelections.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultInjectingLink.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
Due: unit, integration, snapshot

core: implement MTP CopyObject for server-side file copy
  SwiftMTPKit/Sources/MTPCoreTypes/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultInjectingLink.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultTypes.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/RecordedTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/TranscriptRecorder.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/TranscriptReplayLink.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MockTransport.swift
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/BDDTests/DeviceQuirksBDDTests.swift
  SwiftMTPKit/Tests/CoreTests/CopyObjectTests.swift
  SwiftMTPKit/Tests/CoreTests/DeviceActorIsolationTests.swift
  SwiftMTPKit/Tests/CoreTests/DeviceServiceCoverageTests.swift
  SwiftMTPKit/Tests/CoreTests/GetObjectPropListTests.swift
  SwiftMTPKit/Tests/CoreTests/PartialObjectTests.swift
  SwiftMTPKit/Tests/CoreTests/SubstrateHardeningTests.swift
  SwiftMTPKit/Tests/IndexTests/IndexCoverageTests.swift
  SwiftMTPKit/Tests/IndexTests/SnapshotterTests.swift
Due: unit, integration, snapshot

core: implement MTP CopyObject for server-side file copy (#435)
  SwiftMTPKit/Sources/MTPCoreTypes/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultInjectingLink.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultTypes.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/RecordedTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/TranscriptRecorder.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/TranscriptReplayLink.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MockTransport.swift
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/BDDTests/DeviceQuirksBDDTests.swift
  SwiftMTPKit/Tests/CoreTests/CopyObjectTests.swift
  SwiftMTPKit/Tests/CoreTests/DeviceActorIsolationTests.swift
  SwiftMTPKit/Tests/CoreTests/DeviceServiceCoverageTests.swift
  SwiftMTPKit/Tests/CoreTests/GetObjectPropListTests.swift
  SwiftMTPKit/Tests/CoreTests/PartialObjectTests.swift
  SwiftMTPKit/Tests/CoreTests/SubstrateHardeningTests.swift
  SwiftMTPKit/Tests/IndexTests/IndexCoverageTests.swift
  SwiftMTPKit/Tests/IndexTests/SnapshotterTests.swift
Due: unit, integration, snapshot

docs: major README refresh with wave 37-38 achievements
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

test: comprehensive object format mapping tests
  SwiftMTPKit/Tests/CoreTests/ObjectFormatTests.swift
Due: none

test: comprehensive Android edit extension tests
  SwiftMTPKit/Tests/CoreTests/EditExtensionTests.swift
Due: none

cli: add copy and edit commands for new MTP operations
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/CopyCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/EditCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/ToolingTests/CLIToolingTests.swift
Due: none

test: coverage for wave 38 features (properties, events, spec, responses)
  SwiftMTPKit/Tests/CoreTests/EventCodeTests.swift
  SwiftMTPKit/Tests/CoreTests/ObjectPropertyCodeTests.swift
  SwiftMTPKit/Tests/CoreTests/ResponseCodeTests.swift
  SwiftMTPKit/Tests/CoreTests/SpecAlignmentTests.swift
Due: none

transport: add IOUSBHost native transport module scaffold
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostDeviceLocator.swift
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostTransport.swift
Due: none

docs: major README refresh with wave 37-38 achievements (#436)
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

test: comprehensive object format mapping tests (#437)
  SwiftMTPKit/Tests/CoreTests/ObjectFormatTests.swift
Due: none

core: expand MTP response code handling to full MTP 1.1 coverage
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
Due: unit, integration, snapshot

test: comprehensive Android edit extension tests (#438)
  SwiftMTPKit/Tests/CoreTests/EditExtensionTests.swift
Due: none

cli: add copy and edit commands for new MTP operations (#439)
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/CopyCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/EditCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/ToolingTests/CLIToolingTests.swift
Due: none

test: coverage for wave 38 features (properties, events, spec, responses) (#440)
  SwiftMTPKit/Tests/CoreTests/EventCodeTests.swift
  SwiftMTPKit/Tests/CoreTests/ObjectPropertyCodeTests.swift
  SwiftMTPKit/Tests/CoreTests/ResponseCodeTests.swift
  SwiftMTPKit/Tests/CoreTests/SpecAlignmentTests.swift
Due: none

transport: add IOUSBHost native transport module scaffold (#441)
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostDeviceLocator.swift
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostTransport.swift
Due: none

core: expand MTP response code handling to full MTP 1.1 coverage (#442)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
Due: unit, integration, snapshot

transport: implement Pixel 7 bulk transfer recovery fixes
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/EffectiveTuning.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
Due: unit, integration

Path conditions:
  unit: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPObservability/**, SwiftMTPKit/Sources/SwiftMTPQuirks/**, SwiftMTPKit/Sources/SwiftMTPFileProvider/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  integration: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPSync/**, SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  property: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/Models/**, SwiftMTPKit/Sources/SwiftMTPIndex/DiffEngine.swift, SwiftMTPKit/Sources/SwiftMTPCore/Public/Compat/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  snapshot: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
