Repository EffortlessMetrics/SwiftMTP-dev: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, property, snapshot

Path conditions:
  unit: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPObservability/**, SwiftMTPKit/Sources/SwiftMTPQuirks/**, SwiftMTPKit/Sources/SwiftMTPFileProvider/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  integration: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPSync/**, SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  property: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/Models/**, SwiftMTPKit/Sources/SwiftMTPIndex/DiffEngine.swift, SwiftMTPKit/Sources/SwiftMTPCore/Public/Compat/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  snapshot: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift

docs: update FIXUP_QUEUE with GetObjectPropsSupported and U64 completion
  FIXUP_QUEUE.md
Due: none

fix: address P1/P2 reviewer comments from PR #8
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPLayer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DeviceService.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/MTPXPCServiceImpl.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderExtensionTests.swift
  SwiftMTPKit/Tests/XPCTests/XPCServiceCoverageTests.swift
Due: unit, integration, snapshot

feat: Sprint 2.1 — transport stability, collect validation, CI consolidation
  .github/workflows/ci.yml
  .github/workflows/swiftmtp-ci.yml
  CLAUDE.md
  Docs/ROADMAP.md
  Docs/SwiftMTP.docc/Devices/google-pixel-7-4ee1.md
  Docs/SwiftMTP.docc/Devices/oneplus-3t-f003.md
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
  SwiftMTPKit/Tests/ToolingTests/CollectPrivacyTests.swift
Due: integration

feat: Sprint 2.2 — benchmark manifest, device troubleshooting, ROADMAP updates
  Docs/ROADMAP.md
  Docs/SwiftMTP.docc/Devices/samsung-android-6860.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff10.md
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
Due: none

test(bdd): expand BDD coverage from 1 to 8 implemented test scenarios
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
Due: none

feat(quirks): add Canon EOS and Nikon DSLR experimental device profiles
  CLAUDE.md
  Docs/ROADMAP.md
  Docs/SwiftMTP.docc/Devices/canon-eos-rebel-3139.md
  Docs/SwiftMTP.docc/Devices/nikon-dslr-0410.md
  README.md
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
Due: unit

feat(registry): parallel multi-device enumeration + concurrent attach test
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DeviceServiceRegistry.swift
  SwiftMTPKit/Tests/CoreTests/DeviceServiceCoverageTests.swift
Due: unit, integration, snapshot

feat(telemetry): add transfer throughput recording to journal
  Docs/ROADMAP.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/TransferJournal.swift
  SwiftMTPKit/Sources/SwiftMTPStore/Models/TransferEntity.swift
  SwiftMTPKit/Sources/SwiftMTPStore/StoreActor.swift
  SwiftMTPKit/Sources/SwiftMTPStore/SwiftMTPStoreAdapter.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderExtensionTests.swift
  SwiftMTPKit/Tests/StoreTests/StoreActorCoverageTests.swift
Due: unit, integration, snapshot

feat(cli): actionable first-line error messages for probe/pull/push/bench
  Docs/ROADMAP.md
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Tests/ToolingTests/DeviceLabToolingTests.swift
Due: none

docs: canonical collect+bench sequence, pre-PR gate, contribution alignment
  Docs/ContributionGuide.md
  Docs/ROADMAP.md
  Docs/Troubleshooting.md
Due: none

docs: CI truth table, TSAN status, PR template alignment
  .github/PULL_REQUEST_TEMPLATE/device-submission.md
  Docs/ContributionGuide.md
  Docs/ROADMAP.md
Due: none

docs: per-device troubleshooting, release checklist alignment
  Docs/ROADMAP.md
  Docs/ROADMAP.release-checklist.md
  Docs/Troubleshooting.md
Due: none

docs+scripts: coverage gate docs, validate-submission hardening, COVERAGE.md update
  COVERAGE.md
  Docs/ROADMAP.md
  scripts/validate-submission.sh
Due: none

feat(collect): improve BenchSummary with peak throughput and run count
  CHANGELOG.md
  Docs/ROADMAP.md
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
Due: none

fix(scripts): validate-quirks.sh fix docc-generator path (source dir, not binary)
  Docs/ROADMAP.md
  scripts/validate-quirks.sh
Due: none

feat(transport): USB 3.x adaptive chunk size + usbSpeedMBps in LinkDescriptor
  Docs/ROADMAP.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Tests/TransportTests/LibUSBTransportComprehensiveTests.swift
Due: unit, integration

refactor: migrate all raw littleEndian encoding to MTPDataEncoder
  FIXUP_QUEUE.md
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MockTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/StorybookCommand.swift
  SwiftMTPKit/Tests/SwiftMTPCLITests/DeviceFilterBehaviorTests.swift
Due: unit, integration

test: add coverage tests for uncovered branches in Store/Sync
  SwiftMTPKit/Tests/StoreTests/StoreAdapterTests.swift
  SwiftMTPKit/Tests/SyncTests/MirrorEngineCoverageTests.swift
Due: none

chore: update COVERAGE.md and CHANGELOG with 100% gated coverage and 1891 tests
  CHANGELOG.md
  COVERAGE.md
  Docs/ROADMAP.md
Due: none

chore: Add SPDX license and copyright notice to multiple files
  SwiftMTPKit/Sources/Tools/shared/ExitCodes.swift
  SwiftMTPKit/Sources/Tools/shared/Spinner.swift
  SwiftMTPKit/Sources/Tools/shared/Timeout.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Autogen/BuildInfo.swift
  legal/ops/NOTICE
  scripts/gen-build-info.sh
Due: none

chore: Add .DS_Store, profdata, and stale headers to .gitignore
  .gitignore
Due: none

Update governance documentation and legal notices
  .github/pull_request_template.md
  Docs/ContributionGuide.md
  LICENSE
  LICENSE-AGPL-3.0.md
  README.md
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/ErrorHandlingTests/StoreErrorTests.swift
  SwiftMTPKit/Tests/PropertyTests/ModelPropertyTests.swift
  SwiftMTPKit/Tests/SnapshotTests/TestView.swift
  SwiftMTPKit/Tests/SnapshotTests/VisualRegressionTests.swift
  SwiftMTPKit/Tests/ToolingTests/CollectPrivacyTests.swift
  SwiftMTPKit/Tests/ToolingTests/DeviceLabToolingTests.swift
  ThirdParty/libusb-headers-x86_64/LICENSE
  ThirdParty/libusb-headers/LICENSE
  legal/ops/GOVERNANCE.md
  legal/ops/NOTICE
  legal/ops/SECURITY.md
  legal/ops/SUPPORT-SLA.md
  legal/ops/TRADEMARK-POLICY.md
  scripts/legal/fill-templates.sh
Due: none

fix: update contact emails in legal template script
  scripts/legal/fill-templates.sh
Due: none

fix: update Pixel 7 macOS compatibility tracking and remove obsolete OnePlus 3T mirror test file
  Docs/SwiftMTP.docc/macOS26.md
  Docs/benchmarks/oneplus-3t/latest/mirror-test.txt
Due: none

chore: update file headers to include SPDX license and copyright information
  SwiftMTP/ContentView.swift
  SwiftMTP/SwiftMTPApp.swift
Due: none

fix: scrub PII from tracked files (device serials, personal file listings)
  CLAUDE.md
  Docs/benchmarks/probes/oneplus3t-ls.txt
  SwiftMTPKit/Tests/SnapshotTests/ModelSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/ModelSnapshotTests/testProbeReceiptOnePlus3T.oneplus-3t-probe.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/ModelSnapshotTests/testProbeReceiptPixel7.pixel7-probe.json
  SwiftMTPKit/snapshot-OnePlus-ONEPLUS_A3010.json
  snapshot-OnePlus-ONEPLUS_A3010.json
Due: none

chore: standardize author attribution to "Steven Zimmerman, CPA"
  Docs/SwiftMTP.docc/Devices/google-pixel-7-4ee1.md
  Docs/SwiftMTP.docc/Devices/oneplus-3t-f003.md
  Docs/SwiftMTP.docc/Devices/samsung-android-6860.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff10.md
  Docs/SwiftMTP.docc/Devices/xiaomi-mi-note-2-ff40.md
  Specs/quirks.json
  SwiftMTP/ContentView.swift
  SwiftMTP/Item.swift
  SwiftMTP/SwiftMTPApp.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
  SwiftMTPTests/SwiftMTPTests.swift
  SwiftMTPUITests/SwiftMTPUITests.swift
  SwiftMTPUITests/SwiftMTPUITestsLaunchTests.swift
Due: unit

feat: DeviceSessionActor withTransaction, transport recovery, write journaling, buffer pool, FileProvider incremental changes, quirk governance, observability timeline, libmtp compat harness
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Reconcile.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/BufferPool.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/PipelinedTransfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transfer/SendableAdapters.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/ActionableErrors.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/TransferJournal.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPObservability/TransactionLog.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkDatabase.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
  SwiftMTPKit/Sources/SwiftMTPStore/Models/TransferEntity.swift
  SwiftMTPKit/Sources/SwiftMTPStore/StoreActor.swift
  SwiftMTPKit/Sources/SwiftMTPStore/SwiftMTPStoreAdapter.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/PTPContainer+USB.swift
  SwiftMTPKit/Sources/Tools/docc-generator-tool/main.swift
  SwiftMTPKit/Sources/Tools/learn-promote/main.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/WizardCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Tests/CoreTests/BufferPoolTests.swift
  SwiftMTPKit/Tests/CoreTests/TransactionTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEnumeratorTests.swift
  SwiftMTPKit/Tests/PropertyTests/ObservabilityTests.swift
  SwiftMTPKit/Tests/PropertyTests/QuirkDatabaseCoverageTests.swift
  SwiftMTPKit/Tests/StoreTests/TransferJournalReconcileTests.swift
  SwiftMTPKit/Tests/TransportTests/PTPUSBHelpersCoverageTests.swift
  compat/expectations/.gitkeep
  compat/expectations/README.md
  probes/mi-note2-probe.txt
  scripts/__pycache__/compat-harness.cpython-313.pyc
  scripts/compat-harness.py
  scripts/generate-compat-matrix.sh
  scripts/validate-quirks.sh
Due: unit, integration, snapshot

docs: update CHANGELOG for Sprint 3 delivery
  CHANGELOG.md
Due: none

feat: Sprint 3 - real event loop, BDD expansion, path sanitizer, CI workflow
  .github/workflows/tsan-and-compat.yml
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/MTPEventCoalescer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/PathSanitizer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MockTransport.swift
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/BDDTests/Features/transaction-serialization.feature
  SwiftMTPKit/Tests/BDDTests/Features/transport-recovery.feature
  SwiftMTPKit/Tests/BDDTests/Features/write-journal.feature
  SwiftMTPKit/Tests/CoreTests/MTPEventCoalescerTests.swift
  SwiftMTPKit/Tests/CoreTests/PathSanitizerTests.swift
Due: unit, integration

feat: FileProvider rename/move + MTPDevice.rename API
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/MTPXPCServiceImpl.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/Protocol.swift
  SwiftMTPKit/Tests/CoreTests/DeviceServiceCoverageTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderExtensionTests.swift
  SwiftMTPKit/Tests/IndexTests/IndexCoverageTests.swift
  SwiftMTPKit/Tests/IndexTests/SnapshotterTests.swift
  SwiftMTPKit/Tests/IntegrationTests/FileProviderIntegrationTests.swift
  SwiftMTPKit/Tests/XPCTests/XPCProtocolCoverageTests.swift
  SwiftMTPKit/Tests/XPCTests/XPCServiceCoverageTests.swift
Due: unit, integration, snapshot

feat: Sprint 3 wave 2 — verification mode, paging, replay fixtures, quirk regressions, disconnect mapping
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Reconcile.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/ActionableErrors.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/DomainEnumerator.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/RecordedTransport.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Support/CLIState.swift
  SwiftMTPKit/Tests/CoreTests/Fixtures/probe-canary.json
  SwiftMTPKit/Tests/CoreTests/Fixtures/probe-pixel7.json
  SwiftMTPKit/Tests/CoreTests/QuirkRegressionTests.swift
  SwiftMTPKit/Tests/CoreTests/RecordedTransportTests.swift
  SwiftMTPKit/Tests/CoreTests/VerificationModeTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEnumeratorTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderExtensionTests.swift
  SwiftMTPKit/Tests/TestKitTests/VirtualDeviceRenameTests.swift
Due: unit, integration, snapshot

docs: add automated documentation generation scripts and CI workflow
  .github/workflows/docs.yml
  .gitignore
  Docs/compat-matrix.md
  scripts/check-changelog.sh
  scripts/generate-compat-matrix.sh
  scripts/generate-docs.sh
Due: none

feat: Epic 8 — BufferPool + 2-stage pipeline (pipelinedWrite)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Tests/CoreTests/BufferPoolTests.swift
Due: unit, integration

feat(epic-14): fuzz + property + BDD expansion
  Specs/quirks.json
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+PropList.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/MTPEventCoalescer.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/DomainEnumerator.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/SyncAnchorStore.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkDatabase.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
  SwiftMTPKit/Sources/SwiftMTPTestKit/RecordedTransport.swift
  SwiftMTPKit/Sources/Tools/SwiftMTPFuzz/FuzzPathSanitizer.swift
  SwiftMTPKit/Sources/Tools/SwiftMTPFuzz/FuzzPropListDecoder.swift
  SwiftMTPKit/Sources/Tools/SwiftMTPFuzz/FuzzXPCDecoder.swift
  SwiftMTPKit/Sources/Tools/SwiftMTPFuzz/main.swift
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/BDDTests/Features/paged-enumeration.feature
  SwiftMTPKit/Tests/BDDTests/Features/path-sanitization.feature
  SwiftMTPKit/Tests/CoreTests/GetObjectPropListTests.swift
  SwiftMTPKit/Tests/CoreTests/PartialObjectTests.swift
  SwiftMTPKit/Tests/CoreTests/QuirkRegressionTests.swift
  SwiftMTPKit/Tests/CoreTests/RecordedTransportTests.swift
  SwiftMTPKit/Tests/CoreTests/VerificationModeTests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEnumeratorTests.swift
  SwiftMTPKit/Tests/FileProviderTests/SyncAnchorTests.swift
  SwiftMTPKit/Tests/PropertyTests/MTPCodecPropertyTests.swift
Due: unit, integration

WIP: fleet work-in-progress — 26 quirks, VirtualDeviceConfig presets, QuirkMatchingTests
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+PropList.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualDeviceConfig.swift
  SwiftMTPKit/Tests/CoreTests/GetObjectPropListTests.swift
  SwiftMTPKit/Tests/CoreTests/QuirkMatchingTests.swift
Due: unit, integration

docs: update compatibility matrix for 26-device quirk database
  CHANGELOG.md
  Docs/compat-matrix.md
  README.md
Due: none

fix: PTPReader.value(dt:) treats 0xFFFF as array type due to bit-14 collision
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPCodec.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
  SwiftMTPKit/Tests/CoreTests/QuirkMatchingTests.swift
Due: unit, integration
