Repository EffortlessMetrics/SwiftMTP-dev: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, property, snapshot

test(property): add SwiftCheck property tests for PTPReader.value(dt:)
  SwiftMTPKit/Tests/PropertyTests/PTPReaderValuePropertyTests.swift
Due: none

feat: expand quirk DB from 26 to 50+ entries (wave 2)
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
Due: unit

feat: add LG/HTC/Huawei/Fujifilm VirtualDeviceConfig presets + matching tests
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualDeviceConfig.swift
  SwiftMTPKit/Tests/CoreTests/QuirkMatchingTests.swift
Due: none

test: add PTPReader.value(dt:) coverage — 0xFFFF regression + array + scalar + bounds
  SwiftMTPKit/Tests/CoreTests/PTPCodecTests.swift
Due: none

test: add FaultInjectingLink-based error recovery tests
  SwiftMTPKit/Tests/ErrorHandlingTests/FaultInjectionTests.swift
Due: none

docs: update compat matrix and README to 50 entries, add wave-2 CHANGELOG items
  CHANGELOG.md
  Docs/compat-matrix.md
  README.md
Due: none

test(bdd): add GetObjectPropList fast-path and quirk-policy scenarios
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/BDDTests/Features/proplist-fast-path.feature
  SwiftMTPKit/Tests/BDDTests/Features/quirk-policy.feature
Due: none

feat: PTP class-based heuristic defaults for unrecognized cameras
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/QuirkResolver.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/EffectiveTuning.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Tests/CoreTests/QuirkMatchingTests.swift
Due: unit, integration, snapshot

feat: auto-disable GetObjectPropList when device returns OperationNotSupported
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+PropList.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/DevicePolicy.swift
Due: unit, integration

feat(quirks): wave-3 expansion 50 → 202 entries (+152 devices)
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
Due: unit

feat(quirks): add Leica/GoPro/Sigma/Ricoh-GR/Pentax camera entries (202 → 222)
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
Due: unit

chore: add debug log for PTP class heuristic and no-quirk-match case
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
Due: unit, integration

docs: update README and compat-matrix for 222-entry device database
  Docs/compat-matrix.md
  README.md
Due: none

test: add wave-3 VirtualDeviceConfig presets and QuirkMatchingTests
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualDeviceConfig.swift
  SwiftMTPKit/Tests/CoreTests/QuirkMatchingTests.swift
Due: none

feat: add 'swiftmtp quirks lookup --vid --pid' subcommand
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
Due: none

feat(validate): improve duplicate detection error messages + add VID:PID uniqueness check
  scripts/validate-quirks.sh
Due: none

feat: add 'swiftmtp add-device' command + DeviceSubmission.md guide
  Docs/ContributionGuide.md
  Docs/DeviceSubmission.md
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/AddDeviceCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
Due: none

test(property): add QuirksDatabasePropertyTests for DB integrity and EffectiveTuningBuilder invariants
  SwiftMTPKit/Tests/PropertyTests/QuirksDatabasePropertyTests.swift
Due: none

test(integration): HeuristicIntegrationTests for PTP heuristic + auto-disable
  SwiftMTPKit/Tests/IntegrationTests/HeuristicIntegrationTests.swift
Due: none

feat: show USB VID:PID and quirk status in probe output
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
Due: none

test(snapshot): add QuirkPolicySnapshotTests for policy resolution regression detection
  SwiftMTPKit/Tests/SnapshotTests/QuirkPolicySnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/QuirkPolicySnapshotTests/testCanonEOSRebelPolicy.policy-canon-eos-rebel.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/QuirkPolicySnapshotTests/testGoPROMaxPolicy.policy-gopro-max.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/QuirkPolicySnapshotTests/testNikonDSLRPolicy.policy-nikon-dslr.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/QuirkPolicySnapshotTests/testPixel7Policy.policy-pixel7.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/QuirkPolicySnapshotTests/testQuirkDatabaseEntryCount.quirk-database-count.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/QuirkPolicySnapshotTests/testUnrecognizedAndroidPolicy.policy-unrecognized-android.json
  SwiftMTPKit/Tests/SnapshotTests/__Snapshots__/QuirkPolicySnapshotTests/testUnrecognizedPTPCameraPolicy.policy-unrecognized-ptp.json
Due: none

test(bdd): add ptp-heuristic, auto-disable, wave-4 device family scenarios
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/BDDTests/Features/auto-disable-proplist.feature
  SwiftMTPKit/Tests/BDDTests/Features/device-families-wave4.feature
  SwiftMTPKit/Tests/BDDTests/Features/ptp-class-heuristic.feature
Due: none

feat(quirks): wave-4 device expansion 222 → 395 entries (+173 new devices)
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
Due: unit

docs: update compat-matrix and README for 395 entries
  Docs/compat-matrix.md
  README.md
Due: none

docs: wave-4 CHANGELOG entries + README device count (395+)
  CHANGELOG.md
  README.md
Due: none

test: wave-5 VirtualDeviceConfig presets + QuirkMatchingTests for new brands
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualDeviceConfig.swift
  SwiftMTPKit/Tests/CoreTests/QuirkMatchingTests.swift
Due: none

feat(cli): add 'swiftmtp info' command + wizard add-device suggestion for new devices
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/WizardCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
Due: none

feat(cli): improve probe output for unrecognized devices
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
Due: none

feat(cli): enhance 'quirks lookup' to show interface class, kernel-detach, and timeout
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
Due: none

feat(quirks): wave-5 device expansion 395→576 entries (+181)
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
Due: unit

docs: update compat-matrix for 576 entries + README 570+ device count
  Docs/compat-matrix.md
  README.md
Due: none

docs: wave-5 CHANGELOG update + README 576+ device count
  CHANGELOG.md
  README.md
Due: none

test(bdd): add media-players-e-readers BDD scenarios (6 tests)
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/BDDTests/Features/media-players-e-readers.feature
Due: none

feat(quirks): wave-5 pro cameras — Leica/Ricoh/Pentax/OM System/Sea&Sea/Parrot (+19)
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
Due: unit

feat(quirks): wave-5 batch merge 595→732 entries (+137)
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
Due: unit

docs: update compat-matrix + README for 732 entries
  Docs/compat-matrix.md
  README.md
Due: none

test(property): add wave-5 invariants — media players, e-readers, PTP coverage
  SwiftMTPKit/Tests/PropertyTests/QuirksDatabasePropertyTests.swift
Due: none

test(bdd): add modern cameras wave-5 BDD scenarios (5 tests)
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/BDDTests/Features/modern-cameras-wave5.feature
Due: none

test: add wave-7 BDD/property tests + 8 new VirtualDevice presets
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualDeviceConfig.swift
  SwiftMTPKit/Tests/BDDTests/CucumberTests.swift
  SwiftMTPKit/Tests/BDDTests/Features/android-brands-wave7.feature
  SwiftMTPKit/Tests/CoreTests/QuirkMatchingTests.swift
  SwiftMTPKit/Tests/PropertyTests/QuirksDatabasePropertyTests.swift
Due: none

feat(quirks): merge wave-6 misc MTP devices (+25 entries, 732→757)
  Specs/quirks.json
  SwiftMTPKit/Sources/SwiftMTPQuirks/Resources/quirks.json
Due: unit

Path conditions:
  unit: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPObservability/**, SwiftMTPKit/Sources/SwiftMTPQuirks/**, SwiftMTPKit/Sources/SwiftMTPFileProvider/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  integration: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPSync/**, SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  property: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/Models/**, SwiftMTPKit/Sources/SwiftMTPIndex/DiffEngine.swift, SwiftMTPKit/Sources/SwiftMTPCore/Public/Compat/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  snapshot: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
