Repository EffortlessMetrics/SwiftMTP-dev: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, property, snapshot

Path conditions:
  unit: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPObservability/**, SwiftMTPKit/Sources/SwiftMTPQuirks/**, SwiftMTPKit/Sources/SwiftMTPFileProvider/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  integration: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPSync/**, SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  property: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/Models/**, SwiftMTPKit/Sources/SwiftMTPIndex/DiffEngine.swift, SwiftMTPKit/Sources/SwiftMTPCore/Public/Compat/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  snapshot: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift

core: improve MTPError and TransportError descriptions for actionability
  SwiftMTPKit/Sources/SwiftMTPCore/Public/ActionableErrors.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
  SwiftMTPKit/Tests/SnapshotTests/OutputFormatSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/ProtocolMessageSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/SnapshotWave30Tests.swift
Due: unit, integration, snapshot

docs: wave 33-34 changelog, roadmap, and stats update
  CHANGELOG.md
  Docs/ROADMAP.md
Due: none

docs: wave 33-34 changelog, roadmap, and stats update (#404)
  CHANGELOG.md
  Docs/ROADMAP.md
Due: none

ci: improve workflow reliability, caching, and timeouts
  .github/workflows/ci.yml
  .github/workflows/smoke.yml
  .github/workflows/swiftmtp-ci.yml
  .github/workflows/tsan-and-compat.yml
  .github/workflows/validate-quirks.yml
Due: none

core: improve MTPError and TransportError descriptions for actionability (#403)
  SwiftMTPKit/Sources/SwiftMTPCore/Public/ActionableErrors.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
  SwiftMTPKit/Tests/SnapshotTests/OutputFormatSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/ProtocolMessageSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/SnapshotWave30Tests.swift
Due: unit, integration, snapshot

ci: improve workflow reliability, caching, and timeouts (#405)
  .github/workflows/ci.yml
  .github/workflows/smoke.yml
  .github/workflows/swiftmtp-ci.yml
  .github/workflows/tsan-and-compat.yml
  .github/workflows/validate-quirks.yml
Due: none

fix: improve error diagnostic messages across core and transport
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/FallbackLadder.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/USBClaimDiagnostics.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DeviceLabHarness.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Errors.swift
Due: unit, integration, snapshot

style: fix line-length lint warnings in transport layer
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
Due: integration

style: fix line-length lint warnings in transport layer (#406)
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
Due: integration

docs: wave 34-35 changelog and roadmap update
  CHANGELOG.md
  Docs/ROADMAP.md
Due: none

docs: wave 34-35 changelog and roadmap update (#408)
  CHANGELOG.md
  Docs/ROADMAP.md
Due: none

test: add submission workflow and validation tests
  SwiftMTPKit/Tests/ToolingTests/SubmissionWorkflowWave35Tests.swift
Due: none

test: deep device compatibility research and edge case tests
  SwiftMTPKit/Tests/CoreTests/DeviceCompatibilityWave35Tests.swift
Due: none

test: add write-path safety and data integrity tests
  SwiftMTPKit/Tests/CoreTests/WritePathSafetyWave35Tests.swift
  SwiftMTPKit/Tests/IntegrationTests/DataIntegrityWave35Tests.swift
Due: none

test: add submission workflow and validation tests (#409)
  SwiftMTPKit/Tests/ToolingTests/SubmissionWorkflowWave35Tests.swift
Due: none

test: deep device compatibility research and edge case tests (#410)
  SwiftMTPKit/Tests/CoreTests/DeviceCompatibilityWave35Tests.swift
Due: none

test: add write-path safety and data integrity tests (#411)
  SwiftMTPKit/Tests/CoreTests/WritePathSafetyWave35Tests.swift
  SwiftMTPKit/Tests/IntegrationTests/DataIntegrityWave35Tests.swift
Due: none

test: add boundary condition and edge case tests
  SwiftMTPKit/Tests/CoreTests/CodecBoundaryWave35Tests.swift
  SwiftMTPKit/Tests/IndexTests/IndexBoundaryWave35Tests.swift
  SwiftMTPKit/Tests/SyncTests/SyncBoundaryWave35Tests.swift
Due: none

test: add sync resilience and error recovery tests
  SwiftMTPKit/Tests/SyncTests/SyncResilienceWave35Tests.swift
Due: none

test: add FileProvider and XPC edge case tests
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEdgeCaseWave35Tests.swift
  SwiftMTPKit/Tests/XPCTests/XPCEdgeCaseWave35Tests.swift
Due: none

test: add sync resilience and error recovery tests (#412)
  SwiftMTPKit/Tests/SyncTests/SyncResilienceWave35Tests.swift
Due: none

test: add boundary condition and edge case tests (#413)
  SwiftMTPKit/Tests/CoreTests/CodecBoundaryWave35Tests.swift
  SwiftMTPKit/Tests/IndexTests/IndexBoundaryWave35Tests.swift
  SwiftMTPKit/Tests/SyncTests/SyncBoundaryWave35Tests.swift
Due: none

test: add FileProvider and XPC edge case tests (#414)
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEdgeCaseWave35Tests.swift
  SwiftMTPKit/Tests/XPCTests/XPCEdgeCaseWave35Tests.swift
Due: none

docs: wave 36-37 changelog and roadmap update
  CHANGELOG.md
  CLAUDE.md
  Docs/ROADMAP.md
  README.md
Due: none

style: swift-format sweep across all sources and tests
  SwiftMTPKit/Tests/CoreTests/CodecBoundaryWave35Tests.swift
  SwiftMTPKit/Tests/CoreTests/DeviceCompatibilityWave35Tests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEdgeCaseWave35Tests.swift
  SwiftMTPKit/Tests/IndexTests/IndexBoundaryWave35Tests.swift
  SwiftMTPKit/Tests/IntegrationTests/DataIntegrityWave35Tests.swift
  SwiftMTPKit/Tests/SnapshotTests/SnapshotWave30Tests.swift
  SwiftMTPKit/Tests/SyncTests/SyncResilienceWave35Tests.swift
  SwiftMTPKit/Tests/ToolingTests/SubmissionWorkflowWave35Tests.swift
  SwiftMTPKit/Tests/XPCTests/XPCEdgeCaseWave35Tests.swift
Due: none

fileprovider: harden enumeration and XPC error handling
  SwiftMTPKit/Sources/SwiftMTPFileProvider/DomainEnumerator.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/MTPXPCListener.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/MTPXPCServiceImpl.swift
Due: unit

sync: harden transfer journal for resume edge cases
  SwiftMTPKit/Sources/SwiftMTPIndex/TransferJournal.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
Due: unit, integration, snapshot

test: add targeted coverage for write-path and error edge cases
  SwiftMTPKit/Tests/CoreTests/WritePathAndErrorEdgeCaseTests.swift
Due: none

core: harden write-path validation for data integrity
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
Due: unit, integration

cli: improve error messages and user guidance
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/AddDeviceCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/BDDCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeleteMoveEventsCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SnapshotCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/StorageListCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/ProfileCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/SubmitCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
Due: none

transport: improve error diagnostics and structured logging
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/PTPContainer+USB.swift
Due: integration

index: add missing SQLite indexes for query optimization
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/Snapshotter.swift
  SwiftMTPKit/Sources/SwiftMTPIndex/TransferJournal.swift
  SwiftMTPKit/Tests/IndexTests/SQLiteLiveIndexPersistenceTests.swift
Due: unit, integration, snapshot

docs: wave 36-37 changelog and roadmap update (#415)
  CHANGELOG.md
  CLAUDE.md
  Docs/ROADMAP.md
  README.md
Due: none

style: swift-format sweep across all sources and tests (#416)
  SwiftMTPKit/Tests/CoreTests/CodecBoundaryWave35Tests.swift
  SwiftMTPKit/Tests/CoreTests/DeviceCompatibilityWave35Tests.swift
  SwiftMTPKit/Tests/FileProviderTests/FileProviderEdgeCaseWave35Tests.swift
  SwiftMTPKit/Tests/IndexTests/IndexBoundaryWave35Tests.swift
  SwiftMTPKit/Tests/IntegrationTests/DataIntegrityWave35Tests.swift
  SwiftMTPKit/Tests/SnapshotTests/SnapshotWave30Tests.swift
  SwiftMTPKit/Tests/SyncTests/SyncResilienceWave35Tests.swift
  SwiftMTPKit/Tests/ToolingTests/SubmissionWorkflowWave35Tests.swift
  SwiftMTPKit/Tests/XPCTests/XPCEdgeCaseWave35Tests.swift
Due: none

fileprovider: harden enumeration and XPC error handling (#417)
  SwiftMTPKit/Sources/SwiftMTPFileProvider/DomainEnumerator.swift
  SwiftMTPKit/Sources/SwiftMTPFileProvider/MTPFileProviderExtension.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/MTPXPCListener.swift
  SwiftMTPKit/Sources/SwiftMTPXPC/MTPXPCServiceImpl.swift
Due: unit

sync: harden transfer journal for resume edge cases (#418)
  SwiftMTPKit/Sources/SwiftMTPIndex/TransferJournal.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
Due: unit, integration, snapshot

test: add targeted coverage for write-path and error edge cases (#419)
  SwiftMTPKit/Tests/CoreTests/WritePathAndErrorEdgeCaseTests.swift
Due: none

core: harden write-path validation for data integrity (#420)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/Proto+Transfer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
Due: unit, integration

transport: improve error diagnostics and structured logging (#421)
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/PTPContainer+USB.swift
Due: integration

cli: improve error messages and user guidance (#422)
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/AddDeviceCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/BDDCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/DeleteMoveEventsCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ProbeCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SnapshotCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/StorageListCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/ProfileCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/SubmitCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
Due: none
