Repository EffortlessMetrics/SwiftMTP-dev: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, property, snapshot

quirks: strengthen governance enforcement and CLI display
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkDatabase.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
  SwiftMTPKit/Tests/QuirksTests/QuirksGovernanceTests.swift
  scripts/validate-quirks.sh
Due: unit

transport: implement Pixel 7 bulk transfer recovery fixes (#443)
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/EffectiveTuning.swift
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/InterfaceProbe.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
Due: unit, integration

quirks: strengthen governance enforcement and CLI display (#444)
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkDatabase.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/SystemCommands.swift
  SwiftMTPKit/Tests/QuirksTests/QuirksGovernanceTests.swift
  scripts/validate-quirks.sh
Due: unit

docs: comprehensive wave 38-39 changelog, roadmap, and architecture update
  CHANGELOG.md
  CLAUDE.md
  Docs/ROADMAP.md
Due: none

docs: comprehensive wave 38-39 changelog, roadmap, and architecture update (#446)
  CHANGELOG.md
  CLAUDE.md
  Docs/ROADMAP.md
Due: none

sync: add format-based filtering to mirror engine
  SwiftMTPKit/Sources/SwiftMTPSync/FormatFilter.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/SyncTests/MirrorEngineTests.swift
Due: integration

cli: add rich metadata display and info command
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/InfoCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/StorageListCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/ToolingTests/CLIToolingTests.swift
Due: none

sync: add format-based filtering to mirror engine (#447)
  SwiftMTPKit/Sources/SwiftMTPSync/FormatFilter.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/SyncTests/MirrorEngineTests.swift
Due: integration

core: implement layered error recovery for MTP operations
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/ErrorRecoveryLayer.swift
  SwiftMTPKit/Sources/SwiftMTPObservability/Logger.swift
  SwiftMTPKit/Sources/SwiftMTPObservability/RecoveryLog.swift
  SwiftMTPKit/Tests/ErrorHandlingTests/ErrorRecoveryLayerTests.swift
Due: unit, integration

perf: implement adaptive chunk size auto-tuning system
  SwiftMTPKit/Sources/SwiftMTPCore/Public/AdaptiveChunkTuner.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DeviceTuningStore.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Tests/CoreTests/AdaptiveChunkTunerTests.swift
Due: unit, integration, snapshot

core: implement SetObjectPropList for batch metadata writes
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/MTPExtensions.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPLayer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
  SwiftMTPKit/Tests/CoreTests/ObjectPropAPITests.swift
Due: unit, integration

Extract PathSanitizer into SwiftMTPPathing microcrate
  Package.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/SwiftMTPPathingExports.swift
  SwiftMTPKit/Sources/SwiftMTPPathing/PathSanitizer.swift
  SwiftMTPKit/Tests/SwiftMTPPathingTests/PathSanitizerTests.swift
Due: unit, integration, snapshot

Extract throughput utilities into SwiftMTPThroughput microcrate
  Package.swift
  SwiftMTPKit/Sources/SwiftMTPObservability/ThroughputExports.swift
  SwiftMTPKit/Sources/SwiftMTPThroughput/Throughput.swift
  SwiftMTPKit/Tests/SwiftMTPThroughputTests/ThroughputMicrocrateTests.swift
Due: unit

Extract PathSanitizer into dedicated SwiftMTPPathing module
  Package.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/PathSanitizerExports.swift
  SwiftMTPKit/Sources/SwiftMTPPathing/PathSanitizer.swift
  SwiftMTPKit/Tests/SwiftMTPPathingTests/PathSanitizerTests.swift
Due: unit, integration, snapshot

Extract PathSanitizer into dedicated microcrate
  Package.swift
  SwiftMTPKit/Sources/MTPPathSanitizer/PathSanitizer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/Exports/MTPPathSanitizerExport.swift
  SwiftMTPKit/Tests/MTPPathSanitizerTests/PathSanitizerTests.swift
Due: unit, integration, snapshot

core: implement layered error recovery for MTP operations (#449)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/ErrorRecoveryLayer.swift
  SwiftMTPKit/Sources/SwiftMTPObservability/Logger.swift
  SwiftMTPKit/Sources/SwiftMTPObservability/RecoveryLog.swift
  SwiftMTPKit/Tests/ErrorHandlingTests/ErrorRecoveryLayerTests.swift
Due: unit, integration

perf: implement adaptive chunk size auto-tuning system (#451)
  SwiftMTPKit/Sources/SwiftMTPCore/Public/AdaptiveChunkTuner.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/DeviceTuningStore.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Tests/CoreTests/AdaptiveChunkTunerTests.swift
Due: unit, integration, snapshot

sync: implement conflict resolution strategies for mirror
  SwiftMTPKit/Sources/SwiftMTPCore/Public/TransferJournal.swift
  SwiftMTPKit/Sources/SwiftMTPSync/ConflictResolutionStrategy.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/SyncTests/ConflictResolutionTests.swift
Due: unit, integration, snapshot

test: comprehensive protocol integration tests
  SwiftMTPKit/Tests/IntegrationTests/ProtocolIntegrationTests.swift
Due: none

sync: implement conflict resolution strategies for mirror (#450)
  SwiftMTPKit/Sources/SwiftMTPCore/Public/TransferJournal.swift
  SwiftMTPKit/Sources/SwiftMTPSync/ConflictResolutionStrategy.swift
  SwiftMTPKit/Sources/SwiftMTPSync/MirrorEngine.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/TransferCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/SyncTests/ConflictResolutionTests.swift
Due: unit, integration, snapshot

cli: add rich metadata display and info command (#448)
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/InfoCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/StorageListCommands.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/ToolingTests/CLIToolingTests.swift
Due: none

core: implement SetObjectPropList for batch metadata writes (#452)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/MTPExtensions.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPLayer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
  SwiftMTPKit/Tests/CoreTests/ObjectPropAPITests.swift
Due: unit, integration

test: comprehensive protocol integration tests (#458)
  SwiftMTPKit/Tests/IntegrationTests/ProtocolIntegrationTests.swift
Due: none

core: add MTP GetThumb thumbnail support
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPLayer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultInjectingLink.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultTypes.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ThumbCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/CoreTests/DeviceServiceCoverageTests.swift
  SwiftMTPKit/Tests/IndexTests/IndexCoverageTests.swift
  SwiftMTPKit/Tests/IndexTests/SnapshotterTests.swift
Due: unit, integration, snapshot

core: add MTP GetThumb thumbnail support (#457)
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/DeviceActor.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Protocol/PTPLayer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Internal/Transport/TransportProtocols.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/MTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultInjectingLink.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/FaultTypes.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPDevice.swift
  SwiftMTPKit/Sources/SwiftMTPTestKit/VirtualMTPLink.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/Commands/ThumbCommand.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/main.swift
  SwiftMTPKit/Tests/CoreTests/DeviceServiceCoverageTests.swift
  SwiftMTPKit/Tests/IndexTests/IndexCoverageTests.swift
  SwiftMTPKit/Tests/IndexTests/SnapshotterTests.swift
Due: unit, integration, snapshot

docs: comprehensive CLAUDE.md refresh with wave 37-40 additions
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

docs: clean up FIXUP_QUEUE with wave 37-40 resolution status
  FIXUP_QUEUE.md
Due: none

test: backfill XPC bridge tests for protocol conformance and error handling
  SwiftMTPKit/Tests/XPCTests/XPCBridgeWave41Tests.swift
Due: none

test: expand BDD scenarios for copy, edit, mirror, and metadata features
  SwiftMTPKit/Tests/BDDTests/Features/wave41-copy-edit-mirror-metadata.feature
  SwiftMTPKit/Tests/BDDTests/Wave41BDDScenarios.swift
Due: none

docs: comprehensive CLAUDE.md refresh with wave 37-40 additions (#459)
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

docs: clean up FIXUP_QUEUE with wave 37-40 resolution status (#460)
  FIXUP_QUEUE.md
Due: none

test: backfill XPC bridge tests for protocol conformance and error handling (#461)
  SwiftMTPKit/Tests/XPCTests/XPCBridgeWave41Tests.swift
Due: none

test: expand BDD scenarios for copy, edit, mirror, and metadata features (#462)
  SwiftMTPKit/Tests/BDDTests/Features/wave41-copy-edit-mirror-metadata.feature
  SwiftMTPKit/Tests/BDDTests/Wave41BDDScenarios.swift
Due: none

test: backfill FileProvider tests for timeout, reconnection, and error handling
  SwiftMTPKit/Tests/FileProviderTests/FileProviderWave41Tests.swift
Due: none

test: expand property-based tests for wave 38-40 features
  SwiftMTPKit/Tests/PropertyTests/Wave41PropertyTests.swift
Due: none

test: backfill FileProvider tests for timeout, reconnection, and error handling (#463)
  SwiftMTPKit/Tests/FileProviderTests/FileProviderWave41Tests.swift
Due: none

test: backfill Store tests for journal, tuning, and persistence
  SwiftMTPKit/Tests/StoreTests/StoreWave41Tests.swift
Due: none

test: backfill unit tests for format filter, recovery log, and thumbnails
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Tests/CoreTests/FormatFilterUnitTests.swift
  SwiftMTPKit/Tests/CoreTests/RecoveryLogTests.swift
  SwiftMTPKit/Tests/CoreTests/ThumbnailTests.swift
Due: none

Path conditions:
  unit: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPObservability/**, SwiftMTPKit/Sources/SwiftMTPQuirks/**, SwiftMTPKit/Sources/SwiftMTPFileProvider/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  integration: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPSync/**, SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  property: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/Models/**, SwiftMTPKit/Sources/SwiftMTPIndex/DiffEngine.swift, SwiftMTPKit/Sources/SwiftMTPCore/Public/Compat/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  snapshot: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
