Repository EffortlessMetrics/SwiftMTP-dev: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, property, snapshot

Path conditions:
  unit: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPObservability/**, SwiftMTPKit/Sources/SwiftMTPQuirks/**, SwiftMTPKit/Sources/SwiftMTPFileProvider/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  integration: any of: SwiftMTPKit/Sources/SwiftMTPCore/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, SwiftMTPKit/Sources/SwiftMTPSync/**, SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  property: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/Models/**, SwiftMTPKit/Sources/SwiftMTPIndex/DiffEngine.swift, SwiftMTPKit/Sources/SwiftMTPCore/Public/Compat/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift
  snapshot: any of: SwiftMTPKit/Sources/SwiftMTPCore/Public/**, SwiftMTPKit/Sources/SwiftMTPIndex/**, but not: SwiftMTPKit/Tests/**, **/*_test.swift, **/test_*.swift, **/TestHelpers/**, **/Mock*/**, **/Fake*/**, **/Stub*/**, **/Generated/**, **/*.generated.swift, **/Codegen/**, **/Sample*/**, **/Example*/**, **/Demo*/**, **/swiftmtp-cli/**, **/main.swift, **/SwiftMTPKitApp.swift, **/CucumberSwift/**, **/SwiftCheck/**, **/swift-snapshot-testing/**, **/SQLite/**, **/*+UIKit.swift, **/*+AppKit.swift

test: expand property-based tests for wave 38-40 features (#464)
  SwiftMTPKit/Tests/PropertyTests/Wave41PropertyTests.swift
Due: none

devex: add pre-PR gate script for automated quality checks
  CLAUDE.md
  FIXUP_QUEUE.md
  scripts/pre-pr.sh
Due: none

devex: add pre-PR gate script for automated quality checks (#465)
  CLAUDE.md
  FIXUP_QUEUE.md
  scripts/pre-pr.sh
Due: none

test: backfill Store tests for journal, tuning, and persistence (#466)
  SwiftMTPKit/Tests/StoreTests/StoreWave41Tests.swift
Due: none

test: backfill unit tests for format filter, recovery log, and thumbnails (#467)
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Tests/CoreTests/FormatFilterUnitTests.swift
  SwiftMTPKit/Tests/CoreTests/RecoveryLogTests.swift
  SwiftMTPKit/Tests/CoreTests/ThumbnailTests.swift
Due: none

cli: add shell completion scripts for bash, zsh, and fish
  Docs/ShellCompletions.md
  completions/_swiftmtp
  completions/swiftmtp.bash
  completions/swiftmtp.fish
Due: none

ci: consolidate TSAN, pin fuzz runner, optimize coverage pipeline
  .github/workflows/ci.yml
  .github/workflows/swiftmtp-ci.yml
  FIXUP_QUEUE.md
Due: none

docs: add detailed wave-by-wave development log
  Docs/DEVELOPMENT-LOG.md
Due: none

docs: comprehensive ROADMAP and CHANGELOG refresh for waves 37-41
  CHANGELOG.md
  Docs/ROADMAP.md
  README.md
Due: none

core: add PrivacyRedactor for submission artifact obfuscation
  SwiftMTPKit/Sources/SwiftMTPCore/Public/PrivacyRedactor.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
  SwiftMTPKit/Tests/CoreTests/PrivacyRedactorTests.swift
Due: unit, integration, snapshot

docs: add comprehensive error catalog with troubleshooting guide
  Docs/ErrorCatalog.md
  Docs/Troubleshooting.md
Due: none

ci: consolidate TSAN, pin fuzz runner, optimize coverage pipeline (#469)
  .github/workflows/ci.yml
  .github/workflows/swiftmtp-ci.yml
  FIXUP_QUEUE.md
Due: none

docs: add detailed wave-by-wave development log (#470)
  Docs/DEVELOPMENT-LOG.md
Due: none

docs: comprehensive ROADMAP and CHANGELOG refresh for waves 37-41 (#471)
  CHANGELOG.md
  Docs/ROADMAP.md
  README.md
Due: none

cli: add shell completion scripts for bash, zsh, and fish (#468)
  Docs/ShellCompletions.md
  completions/_swiftmtp
  completions/swiftmtp.bash
  completions/swiftmtp.fish
Due: none

docs: add comprehensive error catalog with troubleshooting guide (#472)
  Docs/ErrorCatalog.md
  Docs/Troubleshooting.md
Due: none

core: add PrivacyRedactor for submission artifact obfuscation (#473)
  SwiftMTPKit/Sources/SwiftMTPCore/Public/PrivacyRedactor.swift
  SwiftMTPKit/Sources/Tools/swiftmtp-cli/CollectCommand.swift
  SwiftMTPKit/Tests/CoreTests/PrivacyRedactorTests.swift
Due: unit, integration, snapshot

test: expand snapshot tests for CLI output and report formatting
  SwiftMTPKit/Tests/SnapshotTests/CLIHelpSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/DeviceInfoSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/ErrorMessageSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/ProbeOutputSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/QuirkReportSnapshotTests.swift
Due: none

transport: implement IOUSBHost device discovery and session scaffold
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostDeviceLocator.swift
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostTransport.swift
  SwiftMTPKit/Tests/TransportTests/IOUSBHostTransportTests.swift
Due: none

test: expand snapshot tests for CLI output and report formatting (#474)
  SwiftMTPKit/Tests/SnapshotTests/CLIHelpSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/DeviceInfoSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/ErrorMessageSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/ProbeOutputSnapshotTests.swift
  SwiftMTPKit/Tests/SnapshotTests/QuirkReportSnapshotTests.swift
Due: none

transport: implement IOUSBHost device discovery and session scaffold (#475)
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostDeviceLocator.swift
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostTransport.swift
  SwiftMTPKit/Tests/TransportTests/IOUSBHostTransportTests.swift
Due: none

refactor: extract LibUSBTransport helpers into focused files
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+BulkTransfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+CommandExecution.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+CommandRecovery.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+MTPOperations.swift
Due: integration

refactor: extract LibUSBTransport helpers into focused files (#476)
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/LibUSBTransport.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+BulkTransfer.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+CommandExecution.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+CommandRecovery.swift
  SwiftMTPKit/Sources/SwiftMTPTransportLibUSB/MTPUSBLink+MTPOperations.swift
Due: integration

devex: add bootstrap script and mock profile documentation
  Docs/MockProfiles.md
  FIXUP_QUEUE.md
  scripts/bootstrap.sh
Due: none

devex: add Homebrew formula and installation documentation
  Docs/Installation.md
  README.md
  homebrew-tap/Formula/swiftmtp-head.rb
Due: none

cli: add transfer progress indicators with ETA and throughput
  SwiftMTPKit/Sources/SwiftMTPCLI/ProgressRenderer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/TransferProgress.swift
  SwiftMTPKit/Tests/CoreTests/ProgressRendererTests.swift
Due: unit, integration, snapshot

devex: add bootstrap script and mock profile documentation (#477)
  Docs/MockProfiles.md
  FIXUP_QUEUE.md
  scripts/bootstrap.sh
Due: none

devex: add Homebrew formula and installation documentation (#478)
  Docs/Installation.md
  README.md
  homebrew-tap/Formula/swiftmtp-head.rb
Due: none

cli: add transfer progress indicators with ETA and throughput (#479)
  SwiftMTPKit/Sources/SwiftMTPCLI/ProgressRenderer.swift
  SwiftMTPKit/Sources/SwiftMTPCore/Public/TransferProgress.swift
  SwiftMTPKit/Tests/CoreTests/ProgressRendererTests.swift
Due: unit, integration, snapshot

test: comprehensive error recovery escalation integration tests
  SwiftMTPKit/Tests/ErrorHandlingTests/RecoveryEscalationTests.swift
Due: none

transport: implement IOUSBHost bulk transfer MTP operations
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostTransport.swift
  SwiftMTPKit/Tests/TransportTests/IOUSBHostTransportTests.swift
Due: none

perf: add index query benchmarks and optimize hot paths
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Tests/IndexTests/IndexBenchmarkTests.swift
Due: unit, integration, snapshot

docs: set up DocC documentation generation pipeline
  CLAUDE.md
  SwiftMTPKit/Package.resolved
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPCore/SwiftMTPCore.docc/SwiftMTPCore.md
  scripts/generate-docs.sh
Due: unit, integration

test: comprehensive error recovery escalation integration tests (#480)
  SwiftMTPKit/Tests/ErrorHandlingTests/RecoveryEscalationTests.swift
Due: none

docs: MTP compatibility research from libmtp device flags analysis
  Docs/MTPCompatibilityResearch.md
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
Due: unit

transport: implement IOUSBHost bulk transfer MTP operations (#481)
  SwiftMTPKit/Sources/SwiftMTPTransportIOUSBHost/IOUSBHostTransport.swift
  SwiftMTPKit/Tests/TransportTests/IOUSBHostTransportTests.swift
Due: none

perf: add index query benchmarks and optimize hot paths (#482)
  SwiftMTPKit/Sources/SwiftMTPIndex/LiveIndex/SQLiteLiveIndex.swift
  SwiftMTPKit/Tests/IndexTests/IndexBenchmarkTests.swift
Due: unit, integration, snapshot

docs: set up DocC documentation generation pipeline (#483)
  CLAUDE.md
  SwiftMTPKit/Package.resolved
  SwiftMTPKit/Package.swift
  SwiftMTPKit/Sources/SwiftMTPCore/SwiftMTPCore.docc/SwiftMTPCore.md
  scripts/generate-docs.sh
Due: unit, integration

test: harden mirror resume-from-journal with edge case tests
  SwiftMTPKit/Tests/SyncTests/MirrorResumeTests.swift
Due: none

docs: MTP compatibility research from libmtp device flags analysis (#484)
  Docs/MTPCompatibilityResearch.md
  SwiftMTPKit/Sources/SwiftMTPQuirks/Public/QuirkFlags.swift
Due: unit
